@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.shadow-lg{
  box-shadow: 0px 0px 20px 0px #00000040;

}